{% extends "main.html" %}

{% block title %}
    <title>About Us</title>
{% endblock %}
{% block content %}
        <h1 style="color: red;">About Us</h1>
        <div class="col-md-12">
            <h1>Overview</h1>
            <p>
                This website is about checking names for students who want to check members or teachers. The purpose is to help in checking the names of students or members coming to study and work more easily or not. and more convenient
            </p>
        </div>
   {% endblock %}
   
